body{
    font-family: Harmonia Sans;
}
.text-left{
    text-align: left;
}
.text-right{
   text-align: right;
}
.text-center{
    text-align: center;
}
.list-flex{
    display: flex;
}
.anchor-tag{
    text-decoration: none;
    color: #000000;
    &:hover{
        color: #000000;
        text-decoration: none;
    }
}
.contactHeader{
    padding: 23px 0;
}
.contactHeader__contact{
    color: #34404b;
    div{
        margin-right: 20px;
    }
    i{
        color: #ff5912;
        margin-right: 10px
    }
}
.socNetwork{
    width: 100%;
    text-align: right;
    li{
        list-style-type: none;
        list-style-position: inside;
        i{
            color: #34404b;
            margin-left: 15px;
            font-size: 12px;
        }
    }
}

/*Header */

.header{
    padding: 20px 0;
    .col-lg-6{
        a{
            text-decoration: none;
            color: #000000;
            padding: 10px;
            margin:0 10px;
        }
        div{
            font-size: 16px;
            font-family: Harmonia Sans;
            &:hover{
                color:#ff5912;
                transition: 0.3s;
            }
        }
    }
    .col-lg-offset-2{
        div{
            padding: 10px;
            margin: 0 8px;
            i{
                width: 20px;
                height: 20px;
            }
            &:hover{
                color:#ff5912;
                transition: 0.3s;
            }
        }
    }
}

/*Slider Section*/
.sliderSection{
   
}
.sliderSection_background{
    background-image: url("../image/SliderBackgr.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    padding: 200px 0;
}
.sliderSection__text-header{
    font-size: 52px;
    color: #ff5912;
    font-family: Harmonia Sans Pro;
}
.sliderSection__text-h5{
    font-size: 18px;
    color: #3c4751;
    font-family: Harmonia Sans;
}
.sliderSection__text-paragraph{
    font-size: 16px;
    font-family:  Harmonia Sans;
    color: #495662;
}
.sliderSection__price{
    font-size: 18px;
    font-family: Harmonia Sans;
    margin-top: 60px;
}
.sliderSection__price--text{
    color: #34404b;
    margin-right: 25px;
}
.sliderSection__price--order{
    color: #ff5912;
}

/*Twice Section*/
.twiceSection{
    background: #f4f6f8;
}
.twiceSection_wrap{
    padding: 80px 0; 
    text-align: center;
}
.twiceSection--header{
    font-size: 36px;
    .span--one{
        color: #ff5912;
    }
}
.twiceSection--text{
    font-size: 16px;
    color:#495662;
    
}

.twiceSection__content{
    text-align: center;
    .row{
        margin-bottom: 80px; 
    }
    .col-lg-3{
        cursor: pointer;
        width: 23%;
        padding: 30px 10px;
        margin-right: 2.34%;
        background: #ffffff;
        img{
            padding: 0 30px;
        }
    }
}
.twiceSection__content--header{
    font-size: 18px;
    padding: 20px 0;
    color: #34404b;
}
.twiceSection__content--price{
    font-size: 18px;
    color: #ff5912;
}
.twiceSection-item-4{
    margin-right: 0 !important;
}
.twiceSection__dots{
    cursor: pointer;
    width: 100%;
    background: #ffffff;
    padding: 20px 0;
    i{
        color: #ff5912;
        font-size: 18px;
    }
}
/*Thrice Section*/

.thriceSection{
    background-color: #f4f4f4;
    padding-bottom: 50px;
}
.thriceSection__price{
    background: #ffffff;
    margin-right: 2%;
    width: 55%;
    padding: 30px 55px;
}
.thriceSection__size{
    background: #ffffff;
    width: 43%;
}
.thriceSection__price--sale{
    padding: 10px 55px;
    position: relative;
}
.thriceSection__price--text{
    z-index: 3;
    position: absolute;
    bottom: -3px;
    left: 47%;
}
.rotateDiv__one{
    bottom: -11px;
    left: 34%;
    position: absolute;
    width: 55px;
    height: 60px;
    background: #ff5912;
    z-index: 2;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}
.rotateDiv__two{
    position: absolute;
    bottom: -13px;
    left: 35%;
    width: 52px;
    height: 64px;
    background: #ff9060;
    z-index: 1;
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
}
.thriceSection__price--header{
    padding-left: 20px;
    color:#34404b;
}
.thriceSection__price--h{
    font-size: 22px;
    font-weight: bolder;
}
.thriceSection__price--p{
    font-size: 12px;
}
#sale-text{
    font-size: 11px;
    color: #ffffff;
    text-align: center;
}
#sale-percent{
    font-size: 18px;
    color: #ffffff;
    font-weight: bolder;
}
.thriceSection__price--sale-price{
    color: #ff5912;
    font-size: 30px;
    margin-left: 10%;
}
.thriceSection__size{
    font-size: 16px;
    padding: 30px 0;
    text-align: center;
    
}
.one-span{
    color: #34404b;
}
.two-span{
    color: #ff5912;
}
.fourSection{
    background-color: #f4f4f4;
    .row{
        padding-top: 60px;
    }
}
.fourSection--header{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}
.fourSection--text{
    text-align: center;
    color: #495662;
    font-size: 16px;
}

/*Four Section*/
.fourSection__col-3{
    width: 32%;
    background-color: #ffffff;
    margin-right: 1.5%;
}