@media only screen and(max-width: 1199.98px) {
    .thriceSection__price--h {
        font-size: 17px;
    }
    .thriceSection__price--p {
        font-size: 9px;
    }
    .thriceSection__price--sale-price {
        font-size: 25px;
    }
    .productBigimg{
        text-align: center;
        padding: 20px 0 30px 0;
    }
    .image-resp{
        margin: 0 35%;
    }
    
}
@media only screen and (max-width: 991.98px){
    .header .col-lg-6 div {
        font-size: 12px;
    }
    .header .col-lg-4 div {
        padding: 5px;
        margin: 0 10px;
    }
    .thriceSection{
        display: none;
    }
    .twSection_col{
        .twSection_col-img{
            width: 100%;
            height: 125px;
        }
        &:hover{
            .twSection_col-img{
                width: 70%;
                height: 20%;
                transition: 0.5s;
            }
        }
    } 
    .hidden-col-3-sizes{
        &::before{
            width: 100px;
            left: 20%;
        }
    }
    .sixSection{
        display: none;
    }
    .homeFooter{
        ul{
            padding-left: 0;
            li{
                list-style-type: none;
            }
        }
    }
    .twSec--olcu {
        width: 133px;
        padding: 23px 9px;
    }
    .twSec_prc--filter{
        display: none;
    }
    .slidecontainer p {
        margin-left: -9px;
    }
    .twiceSection_wrap {
        padding: 30px 0;
    }
    .container {
        padding-left: 0px;
    }
    .twiceSection__content .row {
        margin-bottom: 30px;
    }
    .productBigText--wrap {
        width: 100%;
        text-align: center;
    }
    .productBigSize{
        margin: 0 14%;
    }
    .productBigPrice {
        width: 100%;
        margin: 0 14%;
    }
    .twiceSection__content .row {
        margin-right: 0; 
        margin-left: 0;
    }
    .twiceSection__content--header {
        font-size: 12px;
        padding: 15px 0;
    }
    .twiceSection__content--price {
        font-size: 15px;
    }
}
@media only screen and (max-width: 575.98px) {
    .contactHeader{
        display: none;
        
    }
    .header{
        .col-sm-2{
            text-align: center;
        }
        .col-lg-6 a {
            margin: 0 3px;
        }
        .col-sm-4{
            .list-flex{
                margin: 0 25%;
            }
        }
    }
    .sliderSection_background {
        background-size: cover;
        width: 100%;
        height: auto;
        padding: 11px 0;
        .sliderSection__text-header {
            font-size: 16px;
        }
        .sliderSection__text-h5 {
            font-size: 9px;
        }
        .sliderSection__text-paragraph {
            font-size: 9px;
        }
        .sliderSection__price {
            font-size: 11px;
            margin-top: 12px;
        }
    }
    .twiceSection--header {
        font-size: 25px;
    }
    .twiceSection--text {
        font-size: 10px;
    }
    .twiceSection__content .col-lg-3 img {
        padding: 0;
    }
    .hiddenSizes_dots {
        display: none;
        margin-bottom: 5px;
        i{
            font-size: 8px;
        }
    }
    .hidden-sizes{
        font-size: 7px;
        
    }
    .twiceSection__content--header {
        font-size: 10px;
        padding: 24px 0;
    }
    .hidden-col-3-sizes i {
        margin: 13px 0px;
        cursor: pointer;
    }
    .twiceSection__content .col-lg-3 {
        cursor: pointer;
        width: 23%;
        padding: 16px 4px;
        margin-right: 2.34%;
        background: #ffffff;
    }
    .twSection_col {
        height: 248px;
    }
    .twiceSection__dots {
        padding: 5px 0;
    }
    .fourSection .row {
        padding-top: 34px;
    }
    .fourSection--header {
        font-size: 23px;
        font-weight: bold;
    }
    .fourSection--text {
        text-align: center;
        color: #495662;
        font-size: 14px;
    }
    .fourSection__col-3{
            width: 32%;
            background-color: #ffffff;
            margin-right: 1.5%;
            padding: 24px;
        img{
            width: 68px;
            height: 65px;
        }
    }
    .fourSection__col-3--text {
        padding: 6px 0;
        font-size: 10px;
        text-align: center;
        
        .list-flex{
            display: block;
        }
    }
    .fourSection__col-3-price {
        margin-left: 25%;
    }
    .col-3-text-color {
        font-size: 9px;
    }
    .homeFooter {
        padding: 30px 0;
        color: #28313b;
        font-size: 10px;
    }
    .homeFooter{
        .container{
            text-align: center;
        }
    }
    .twSection_col{
        .twSection_col-img{
            width: 100%;
            height: 90px;
        }
        &:hover{
            .twSection_col-img{
                width: 80%;
                height: 30%;
                transition: 0.5s;
            }
        }
    }
    .hidden-col-3-sizes{
        &::before{
            width: 80px;
            left: 20%;
        }
    }
    .twSec--olcu {
        width: 93px;
        padding: 7px 11px;
        margin: 0 5px;
        margin-bottom: 40px;
    }
    .twSec_fixed_nav{
        display: flex;
    }
    .twiceSection__content .row {
        width: 100%;
    }
    .twiceSection__content .col-lg-4 img {
        padding: 0;
    }
    .twSec_fixed_nav h4 {
        font-size: 14px;
        font-weight: bold;
    }
    .twSec--olcu ul{
        font-size: 12px;
    }
    .prodshowSec {
        padding: 0px;
    }
    .image-resp {
        margin: 0 5%;
    }
    .productBigSize {
        margin: 0 10px;
    }
    .productBigPrice {
        margin: 0 10px;
    }
    .text-margin-left {
        margin-left: 5%;
    }
    
}