@media only screen and(max-width: 1199.98px) {
    .thriceSection__price--h {
        font-size: 17px;
    }
    .thriceSection__price--p {
        font-size: 9px;
    }
    .thriceSection__price--sale-price {
        font-size: 25px;
    }
    .productBigimg{
        text-align: center;
        padding: 20px 0 30px 0;
    }
    .image-resp{
        margin: 0 35%;
    }
    
}